.App-substrate  {
  text-align: center;
  background: #FFF;
  max-width: 1010px;
  
}
.App-list {
  padding-left: 0;
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}
